@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

a.active hr {
    display: block;
}

.a:hover {
    color: purple;
    transition: 0.5s ease-in;
    border-radius: 10px;
    box-shadow: 0 0 5px purple,
        0 0 5px purple,
        0 0 5px purple;
}

.a:hover {
    color: purple;
    font-weight: 400;
    box-shadow: none;
    text-shadow: 0 0 5px rgb(139, 110, 139),
                0 0 5px rgb(139, 110, 139),
                0 0 5px rgb(143, 96, 143);
}

.a {
    color: green;
    text-decoration: none;
    font-size: 18px;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width:640px) {
    a.active{
        background-color: black;
        color: white;
    }
}